
.logobing{
  max-width:116px ; 
}
.searchbar{
    margin-left: 160px;
    padding:15px;
    border-radius:40px ;
    position: absolute ;
    width:400px;   
    height:10px ;
    top:16px;
    border: 1px solid rgb(235, 231, 231);
    box-shadow: 1px  1px  2px rgb(211, 210, 210);
    
  }
.a1{
  position: absolute;
  top: 30px;
  right: 16px;
  font-size: 18px;
  margin: left 50px; 
margin-right: +60px;
    }
.loupe {
  margin-left: 530px;
  padding:3px;
  border-radius:40px ;
  position: absolute ; 
  top:20px;
  color: #00809D;
} 
.micro{
  margin-left: 450px;
  padding:2px;
  border-radius:40px ;
  position: absolute ; 
  top:20px;
  color: #00809D;
}  
.list{
 position: absolute;
  top: 26px;
  right: 20px;
margin-left: 50px; 
}
.menu{
  
  width:50% ;
  margin-left: 10px;
  margin-top: -15px;
  
  margin-bottom: -16px;
  
}
.menus{
 
 display: flex;
 list-style: none;
 color: black;
 right: 100px;
 
}
li{
  font-family: 'Roboto', Helvetica, sans-serif;
  padding: 15px   12px;
}

a{
  color: black;
  text-decoration:none;
  font-size: smaller;
  position: relative;
 
}
.suite{
  position: absolute;
  top: 60px;
  right: 100px;
  font-size: 18px;
  margin: left 50px; 
margin-right: 10px;
}
.suite2{
  position: absolute;
  top: 60px;
  right: 35px;
  font-size: 18px;
  margin: left 50px; 
margin-right: 10px;
}

.filtre{
   position: absolute;
  top: 56px;
  right: 10px;
  font-size: 0px;
  margin: left 0px; 
margin-right:5px;
color: rgb(151, 138, 138);
}
.triangle{
  position: absolute;
  top: 82px;
  right: 80px;
  font-size: 18px;
  margin: left 50px; 
margin-right: 10px;
color: rgb(103, 99, 99);
}
.searchimg{
  margin-left: 495px;
  padding:3px;
  border-radius:4x ;
  position: absolute ; 
  top:20px;
  
}
hr{
  bottom: 900px;
  top: 100px;
}

.images{
  border-style: solid ;
  border-radius:45px ;
  padding:25px ;
  border-width:1.5px ;
  position: absolute;
  top: 135px;
  left:15px ;
  color: teal;
  width:125px ;
  height: 7px;
  
}
.txt_1{
 position: absolute;
  top: 7px;
  left: 60px; 
  color: black;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: medium;
}
.img_1{
  border-style: none;
  outline: none;
  border-radius: 50px;
  width:40px ;
  height: 40px;
  left:8px ;
  position: absolute;
  top: 5px;

}
.images2{
  border-style: solid ;
  border-radius:45px ;
  padding:25px ;
  border-width:1.5px ;
  position: absolute;
  top: 140px;
  left:150px ;
  color: teal;
  width:160px ;
  height: 7px;
  
}
.txt_2{
 position: absolute;
  top: 7px;
  left: 60px; 
  color: black;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: medium;
}
.img_2{
  border-style: none;
  outline: none;
  border-radius: 50px;
  width:40px ;
  height: 40px;
  left:8px ;
  position: absolute;
  top: 5px;

}
.images3{
  border-style: solid ;
  border-radius:45px ;
  padding:25px ;
  border-width:1.5px ;
  position: absolute;
  top: 140px;
  left:320px ;
  color: teal;
  width:160px ;
  height: 7px;
  
}
.txt_3{
 position: absolute;
  top: -5px;
  left: 60px; 
  color: black;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: medium;
}
.img_3{
  border-style: none;
  outline: none;
  border-radius: 50px;
  width:40px ;
  height: 40px;
  left:8px ;
  position: absolute;
  top: 5px;

}
.images4{
  border-style: solid ;
  border-radius:45px ;
  padding:25px ;
  border-width:1.5px ;
  position: absolute;
  top: 140px;
  left:490px ;
  color: teal;
  width:160px ;
  height: 7px;
  
}
.txt_4{
 position: absolute;
  top: -5px;
  left: 60px; 
  color: black;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: medium;
}
.img_4{
  border-style: none;
  outline: none;
  border-radius: 50px;
  width:40px ;
  height: 40px;
  left:8px ;
  position: absolute;
  top: 5px;

}
.images5{
  border-style: solid ;
  border-radius:45px ;
  padding:25px ;
  border-width:1.5px ;
  position: absolute;
  top: 140px;
  left:660px ;
  color: teal;
  width:160px ;
  height: 7px;
  
}
.txt_5{
 position: absolute;
  top: -5px;
  left: 60px; 
  color: black;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: medium;
}
.img_5{
  border-style: none;
  outline: none;
  border-radius: 50px;
  width:40px ;
  height: 40px;
  left:8px ;
  position: absolute;
  top: 5px;

}

.images6{
  border-style: solid ;
  border-radius:45px ;
  padding:25px ;
  border-width:1.5px ;
  position: absolute;
  top: 140px;
  left:830px ;
  color: teal;
  width:160px ;
  height: 7px;
  
}
.txt_6{
 position: absolute;
  top: -5px;
  left: 60px; 
  color: black;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: medium;
}
.img_6{
  border-style: none;
  outline: none;
  border-radius: 50px;
  width:40px ;
  height: 40px;
  left:8px ;
  position: absolute;
  top: 5px;

}
.images7{
  border-style: solid ;
  border-radius:45px ;
  padding:25px ;
  border-width:1.5px ;
  position: absolute;
  top: 140px;
  left:1000px ;
  color: teal;
  width:160px ;
  height: 7px;
  
}
.txt_7{
 position: absolute;
  top: -5px;
  left: 60px; 
  color: black;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: medium;
}
.img_7{
  border-style: none;
  outline: none;
  border-radius: 50px;
  width:40px ;
  height: 40px;
  left:8px ;
  position: absolute;
  top: 5px;

}  
.images8{
  border-style: solid ;
  border-radius:45px ;
  padding:25px ;
  border-width:1.5px ;
  position: absolute;
  top: 140px;
  left:1180px ;
  color: teal;
  width:160px ;
  height: 7px;
  
}
.txt_8{
 position: absolute;
  top: -2px;
  left: 60px; 
  color: black;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: medium;
}
.img_8{
  border-style: none;
  outline: none;
  border-radius: 50px;
  width:40px ;
  height: 40px;
  left:8px ;
  position: absolute;
  top: 5px;
}
div.bt9{
	border: 1px solid;
    border-radius: 10px;
    border-color: gray;
    padding: 10px;
    width: 200px;
    margin-top: 160px;
    margin-right: 15px;
    margin-left: 15px;
    box-sizing: content-box;
    cursor: pointer;
}

div.bt10{
	border: 1px solid black;
    border-radius: 10px;
    border-color: gray;
    padding: 10px;
    width: 200px;
    margin-top: 160px;
    margin-right: 15px;
    margin-left: 15px;
    box-sizing: content-box;
    cursor: pointer;
}

div.bt11{
	border: 1px solid black;
    border-radius: 10px;
    border-color: gray;
    padding: 10px;
    width: 200px;
    margin-top: 160px;
    margin-right: 15px;
    margin-left: 15px;
    box-sizing: content-box;
    cursor: pointer;
}

div.bt12{
	border: 1px solid black;
    border-radius: 10px;
    border-color: gray;
    padding: 10px;
    width: 200px;
    margin-top: 160px;
    margin-right: 15px;
    margin-left: 15px;
    box-sizing: content-box;
    cursor: pointer;
}

div.bt13{
	border: 1px solid black;
    border-radius: 10px;
    border-color: gray;
    padding: 5px;
    width: 200px;
    margin-top: 160px;
    margin-right: 15px;
    margin-left: 15px;
    box-sizing: content-box;
    cursor: pointer;
}
div.bt14{
	border: 1px solid;
    border-radius: 10px;
    border-color: gray;
    padding: 10px;
    width: 200px;
    margin-top: 30px;
    margin-right: 15px;
    margin-left: 15px;
    box-sizing: content-box;
    cursor: pointer;
}

div.bt15{
	border: 1px solid black;
    border-radius: 10px;
    border-color: gray;
    padding: 10px;
    width: 200px;
    margin-top: 30px;
    margin-right: 15px;
    margin-left: 15px;
    box-sizing: content-box;
    cursor: pointer;
}

div.bt16{
	border: 1px solid black;
    border-radius: 10px;
    border-color: gray;
    padding: 10px;
    width: 200px;
    margin-top: 30px;
    margin-right: 15px;
    margin-left: 15px;
    box-sizing: content-box;
    cursor: pointer;
}

div.bt17{
	border: 1px solid black;
    border-radius: 10px;
    border-color: gray;
    padding: 10px;
    width: 200px;
    margin-top: 30px;
    margin-right: 15px;
    margin-left: 15px;
    box-sizing: content-box;
    cursor: pointer;
}

div.bt18{
	border: 1px solid black;
    border-radius: 10px;
    border-color: gray;
    padding: 5px;
    width: 200px;
    margin-top: 30px;
    margin-right: 15px;
    margin-left: 15px;
    box-sizing: content-box;
    cursor: pointer;
}





  